<template>
    <Page class="page" backgroundSpanUnderStatusBar="true">

		<ActionBar title="Attendance" class="action-bar"   @tap="Attaction">
            <NavigationButton text="Attendance" @tap="Back" android.systemIcon="ic_menu_back"></NavigationButton>
            <ActionItem ios.position="right"  @tap="onOpenDrawerTap" ><Label 
            class="fa" :text="'fa-bars' | fonticon"  @tap="onOpenDrawerTap" /></ActionItem>
            
        </ActionBar>


      
        <RadSideDrawer ref="drawer" drawerLocation="Right"
            :gesturesEnabled="gesturesEnabled">

            <StackLayout ~drawerContent backgroundColor="white">
                <StackLayout height="46"
                    style="text-align: center; vertical-align: center;">
                         <Image  src="~/assets/images/qbitlogo.png" />
                </StackLayout>

                <StackLayout class="sidebarlabel">
                    <Label text="Home" padding="10" />
                    <Label text="Time Sheet" padding="10" />
                    <Label text="Profile" padding="10" />
                    <Label text="Change password" padding="10" />
                    <Label text="Logout" padding="10"  @tap="logout" />
                
                    <!-- <Label padding="10" class="fa" id="closeicon" :text="'fa-times' | fonticon" -->
                         <Label padding="10"  @tap="onCloseDrawerTap" />

                </StackLayout>
            </StackLayout>

            <StackLayout ~mainContent>
                
                <StackLayout class="header">
					<Label ref="title" text="Vikas Pandey" />
				</StackLayout>

                <!-- data start from here -->

                <GridLayout width="100%" backgroundColor="white">
				<!-- <Attendance width="100%" /> -->
				<StackLayout orientation="vertical"
					class="page-content" >
					<StackLayout orientation="horizontal"
						class="nix">
						<!-- Check In -->
						<StackLayout class="btn-img"
							orientation="vertical"
							@tap="onTappedcheck('in')"
							:visibility="checkinvisbility ? 'visible' : 'collapsed'" >
							<Label class='check-in' text="Check In"
								verticalAlignment="center" font-size="20">
							</Label>
							<Label :text="time"
								verticalAlignment="center" color="Red" font-size="20">
							</Label>
						</StackLayout>

						<StackLayout class="btn-img"
							orientation="vertical"
							@tap="onTappedcheck('out')"
							:visibility="checkoutvisbility ? 'visible' : 'collapsed'">
							
							<Label class='check-out' text="Check Out"
								verticalAlignment="center">
							</Label>
							<Label :text="time"
								verticalAlignment="center" color="blue" font-size="20">
							</Label>
						</StackLayout>
					</StackLayout>

					<StackLayout orientation="vertical" class=""
						backgroundColor="#eeeee">
						<RadListView ref="listView" for="watchdata in list_data"
							@itemTap="onRadItemTap" backgroundColor="White">
							<v-template>
								<GridLayout columns="100, *" rows="auto, auto, auto"
									class="main-grid p-l-20">
									
									<Label :text="watchdata.watch" row="0"
										col="0" colspan='3' class="date-grid"/>

									<Label :text="watchdata.time" row="1" col="0"
										class="time-grid body p-l-15"/>

									<Label :text="watchdata.name" row="0" col="1"
										class="name-grid h2 p-r-20" />

									<Label :text="watchdata.addr" row="1" col="1"
										class="addr-grid" color="black" textWrap="true"/>

									<StackLayout class="hr-light m-y-10" row="2" col="1"></StackLayout>
									<!-- <StackLayout class="m-y-20" row="2" col="1" -->
										<!-- v-else="transaction.last"></StackLayout> -->
								</GridLayout>
							</v-template>
						</RadListView>
					</StackLayout>

				</StackLayout>
				<!-- <ListView ref="listview" separatorColor="transparent" for="item in items" :key="index">
					<v-template>
						<item :item="item" @clicked="showItem(item)" />
					</v-template>
				</ListView> -->
			</GridLayout>
                <!-- data end from here -->
        
            </StackLayout>

        </RadSideDrawer>




    </Page>
</template>

<script>  

    var week = ["SUN", "MON", "TUE", "WED", "THU", "FRI", "SAT"];
	var monthNames = ["Jan", "Feb", "Mar", "Apr", "May", "Jun",
	"Jul", "Aug", "Sep", "Oct", "Nov", "Dec"
	];

	var timerID = setInterval(updateTime, 1000);
	var date = updateDate();
	var time = updateTime();

    function updateDate() {
		var cd = new Date();
		var date = zeroPadding(cd.getDate(), 2) + ' ' + monthNames[cd.getMonth()];
		return date;
	}

    function updateTime() {
		var cd = new Date();
		var cap = '';
		if(cd.getHours() >='12') {
			cap = 'PM';
		} else {
			cap = 'AM';
		}
		var time =
			zeroPadding(cd.getHours(), 2) +
			":" +
			zeroPadding(cd.getMinutes(), 2) + ' '+cap;
		return time;
	}

    function zeroPadding(num, digit) {
		var zero = "";
		for (var i = 0; i < digit; i++) {
			zero += "0";
		}
		return (zero + num).slice(-digit);
	}

    import Dashboard from "./Dashboard";
    import Vue from "nativescript-vue";
    import RadSideDrawer from "nativescript-ui-sidedrawer/vue";
    Vue.use(RadSideDrawer);

    import RadListView from "nativescript-ui-listview/vue";
    Vue.use(RadListView);
	import { isIOS, isAndroid } from 'tns-core-modules/platform'
	// import navBottom from "./custom/navBottom";
	import Login from "./Login";
    
    const geolocation = require("nativescript-geolocation");
	const { Accuracy } = require("tns-core-modules/ui/enums");
	const gestures = require("ui/gestures"); 
	const app = require("application");

    export default {
        data: function() {
            return {
                mainContentText: "SideDe drawer.",
                lastDelY: 0,
				headerCollapsed: false,
				selectedTab: 0,
				selectedTabview: 0,
				mainContentText: "SideDrawer for NativeScript can be easily setup in the XML definition of your page by defining main- and drawer-content. The component" +
						" has a default transition and position and also exposes notifications related to changes in its state. Swipe from left to open side drawer.",
				message: "You have successfully authenticated. This is where you build your core application functionality.",
				currentGeoLocation: {
					latitude: null,
					longitude: null,
					// altitude: null,
					// direction: null,
					addr: null,
					spped: null
				},
				list_data: [{
					name: "",
					watch: "",
					imageSrc: ""
				}],
				ischeckin: false,
				ischeckout: false,
				date: date,
				check: "Check In",
				checkinvisbility: true,
				checkoutvisbility: false,
				time : time,
				isenabled : false,
            };
        },
        components: {
           
        },
        methods: {
            onOpenDrawerTap() {
                this.$refs.drawer.nativeView.showDrawer();
            },
            onCloseDrawerTap() {
                this.$refs.drawer.nativeView.closeDrawer();
            },    
            submit(){
            alert("NO need to submit");
            },
            onTappedcheck(para) {
				geolocation.getCurrentLocation({
					desiredAccuracy: Accuracy.high, // 3 meter accuracy 
					maximumAge: 500,
					timeout: 500 // 1 seconds
				}).then(res => {	
					if (res) {
						// console.log(''res.latitude + ' long: '+ res.longitude)
						this.latitude = res.latitude;
						this.longitude = res.longitude;
						this.speed = res.speed;
						// get the address (REQUIRES YOUR OWN GOOGLE MAP API KEY!)
						fetch(
							"https://maps.googleapis.com/maps/api/geocode/json?latlng=" +
								res.latitude +
								"," +
								res.longitude +
								"&key=AIzaSyA0dHwsQEfdcJwmZ9uW7qShq7y1y77ZY2I"
						)
						.then(response => response.json())
						.then(r => {
							this.addr = r.results[0].formatted_address;
								
						}, function(e){
							dialogs.alert(e.message);
						});
					}
				});
				
				console.log(this.latitude + ' '+ this.longitude);
				if(typeof this.latitude !== 'undefined') {
					console.log('not');
					if (para == "in") {
						this.check = "Check Out";
						this.checkoutvisbility = true;
						this.checkinvisbility = false;
						this.date = this.date;
						this.list_data.push({
							name: "Check In",
							watch: this.date,
							time: this.time,
							lat: this.latitude,
							long: this.longitude,
							addr: this.addr
							
						});
					} else {
						this.check = "Check In";
						this.checkinvisbility = true;
						this.checkoutvisbility = false;
						this.date = this.date;
						this.list_data.push({
							name: "Check Out",
							watch: this.date,
							time: this.time,
							lat: this.latitude,
							long: this.longitude,
							addr: this.addr
                        });
                        
					}
				} else {
					 console.log('yes');
				}
				
            },
            mounted() {
				if (geolocation.isEnabled()) {
					geolocation.enableLocationRequest();
				} else {
					dialogs.alert("Please enable Geolocation");
				}
            },
            logout() {
				// this.$backendService.logout();
				this.$navigateTo(Login, {
					clearHistory: true
				});
			},
            Back(){
                this.$navigateTo(Dashboard, { clearHistory: true });
                console.log("Back button tap");
			},
			Attaction(){
				console.log("attendace action has been tap");
			}
            

        }
    };
</script>

<style scoped>
    /* #font-icon{
    font-size:26;
    } */
    /* ActionBar {
    background-color:  #28b7ce;
    color: white;
    } */
    .header {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -16;
    margin-right: -16;
    padding-top: 8;
    padding-bottom: 8;
    padding-left: 16;
    padding-right: 16;
    border-bottom-width: 1;
    border-bottom-color: rgba(0,0,0,.20);
    }
    .header Label {
    font-size: 26;
    font-weight: bold;
    margin-left: 15;
    }
    .sidebarlabel{
         horizontal-align: center;
         font-size: 20;
         font-weight: bold;
         color : #666666;
    }


    .status-img {
	margin-top:5;
	margin-right: 5;
	width: 30;
	height: 30;
}
.status-profile {
	border-width: 1;
	border-color: #ffffff;
	background-color: #f1ebeb;
	border-radius: 50%;
	margin-top: 4;
	margin-right: 15;
	width: 30;
	height: 30;
}
.status-title {
	color: white;
	font-size: 18;
	margin-left: 15;
	margin-top: 8;
	horizontal-align: left;
	vertical-align: center;
}

.btn-img {
	vertical-align: center;
	text-align: center;
	border-radius: 100;
	border-width: 2;
	color: black;
	margin-top:1%;
	margin-left: 30%;
	font-size: 18;
	height: 24.5%;
	width: 40%;
	/* padding-top: 100; */
}

.fa {
	font-size:28;
	color: White;
	margin-top:8
} 

.bottom-gradient {
    background: linear-gradient(to bottom, #338390, #28b7ce);
}

.date-grid {
	font-size:22;
	font-weight: bold;
	margin-left:15;
	color:#28b7ce;
}

.nix {
	background-color: #eeeeee;
	/* height: 500; */
}

.check-in {
	font-size: 20;
	/* margin-top: 20; */
}

.check-out {
	font-size: 20;
}
.action-bar {
    background-color: #28b7ce;
    color: #ffffff;
    padding-right: 15;
    font-size: 28;
    }
</style>