<template>
    <Page class="page" backgroundSpanUnderStatusBar="true">

        <ActionBar class="action-bar" title="Dahboard" @tap="Dashaction" >
            <ActionItem ios.position="right" android.position="actionBar"   @tap="onOpenDrawerTap" ><Label 
            class="fa" :text="'fa-bars' | fonticon"  @tap="onOpenDrawerTap" /></ActionItem>
            
        </ActionBar>

      
        <RadSideDrawer ref="drawer" drawerLocation="Right"
            :gesturesEnabled="gesturesEnabled">

            <StackLayout ~drawerContent backgroundColor="white">
                <StackLayout height="46"
                    style="text-align: center; vertical-align: center;">
                         <Image  src="~/assets/images/qbitlogo.png" />
                </StackLayout>

                 <StackLayout class="sidebarlabel">
                    <Label text="Home" padding="10" />
                    <Label text="Time Sheet" padding="10" />
                    <Label text="Profile" padding="10" />
                    <Label text="Change password" padding="10" />
                    <Label text="Logout" padding="10"  @tap="logout" />
                
                    <!-- <Label padding="10" class="fa" id="closeicon" :text="'fa-times' | fonticon" -->
                           <Label padding="10"   @tap="onCloseDrawerTap" />

                </StackLayout>
            </StackLayout>

            <StackLayout ~mainContent>
                
                <StackLayout class="header">
					<Label ref="title" text="Vikas Pandey" />
				</StackLayout>


                <GridLayout style="margin-top:70;">
                    <ScrollView>
                        <GridLayout columns="*,*"
                            rows="220,220" >
                            
                            <GridLayout row="0" col="0" id="box" >
                            <Label id="iconvalue" class="fa" :text="'fa-map-marker' | fonticon" @tap="attendancetap"/>
                            <Label id="labelvalue" text="Attendance" @tap="attendancetap"/>
                            </GridLayout>

                            <GridLayout row="0" col="1" id="box" >
                            <Label id="iconvalue" class="fa" :text="'fa-home' | fonticon" @tap="leavetap"/>
                            <Label id="labelvalue" text="Leave" row="0" col="1" @tap="leavetap" />
                            </GridLayout>

                            <GridLayout row="1" col="0" id="box" >
                            <Label id="iconvalue" class="fa" :text="'fa-file' | fonticon" @tap="sliptap"/>
                            <Label id="labelvalue" text="Pay Slip" row="1" col="0"  @tap="sliptap" />
                            </GridLayout>
                            
                            <GridLayout row="1" col="1" id="box" >
                            <Label id="iconvalue" class="fa" :text="'fa-user' | fonticon" @tap="profiletap"/>
                            <Label id="labelvalue" text="Profile" row="1"   col="1" @tap="profiletap"/>
                            </GridLayout>


                        </GridLayout>
                    </ScrollView>
    `           </GridLayout>


        <!-- </StackLayout> -->
            </StackLayout>

        </RadSideDrawer>




    </Page>
</template>

<script>  
    import Leave from "./Leave";
    import Attendance from "./Attendance";
    import Payslip from "./Payslip";
    import Profile from "./Profile";
    import Login from "./Login";

    import Vue from "nativescript-vue";
    import RadSideDrawer from "nativescript-ui-sidedrawer/vue";
    Vue.use(RadSideDrawer);

    export default {
        data: function() {
            return {
              mainContentText: "SideDe drawer." 
            };
        },
        components: {
           
        },
        methods: {
            onOpenDrawerTap() {
                this.$refs.drawer.nativeView.showDrawer();
            },
            onCloseDrawerTap() {
                this.$refs.drawer.nativeView.closeDrawer();
            },
            attendancetap(){
                this.$navigateTo(Attendance, { clearHistory: true });
                console.log("attendancetap");
            },
            leavetap(){
                this.$navigateTo(Leave, { clearHistory: true });
                console.log("Leave button tap");
            },
            sliptap(){
                this.$navigateTo(Payslip, { clearHistory: true });
                 console.log("slip button tap");
            },
            logout() {
				// this.$backendService.logout();
				this.$navigateTo(Login, {
					clearHistory: true
				});
			},
            profiletap(){
                this.$navigateTo(Profile, { clearHistory: true });
                console.log("profile button tap");
            },
            Dashaction(){
                console.log("Dashboard has been tapp");
            }

        }
    };
</script>

<style scoped>
    #box {
        /* padding: 58; */
        margin: 15;
        border-radius: 10;
        border-width: 1;
        font-size: 18;
        font-weight: bold;
        background-color: #ffffff;
        color: #666666;
        text-shadow: 2px 2px;
        /* max-width: auto; */
    }
    #labelvalue{
        text-align: center;
        margin-top:92; 
        font-size:17;
    }
    #iconvalue{
        text-align: center;
        margin-top:52; 
        font-size:30;
    }
    /* #closeicon{
        horizontal-align: center;
        font-size: 18;
    }  */
    /* #font-icon{
    font-size:26;
    } */
    /* ActionBar {
    background-color:  #28b7ce;
    color: white;
    } */
    .header {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -16;
    margin-right: -16;
    padding-top: 8;
    padding-bottom: 8;
    padding-left: 16;
    padding-right: 16;
    border-bottom-width: 1;
    border-bottom-color: rgba(0,0,0,.20);
    }
    .header Label {
    font-size: 26;
    font-weight: bold;
    margin-left: 15;
    }
    .sidebarlabel{
         horizontal-align: center;
         font-size: 20;
         font-weight: bold;
         color : #666666;
    }
    .action-bar {
    background-color: #28b7ce;
    color: #ffffff;
    padding-right: 15;
    font-size: 28;
    }
</style>