<template>
    <Page class="page" backgroundSpanUnderStatusBar="true">

        <ActionBar title="Leave Application" class="action-bar" @tap="leaveaction" >
            <NavigationButton text="Leave" @tap="Back" android.systemIcon="ic_menu_back"></NavigationButton>
            <ActionItem ios.position="right"  @tap="onOpenDrawerTap" ><Label 
            class="fa" :text="'fa-bars' | fonticon"  @tap="onOpenDrawerTap" /></ActionItem>
            
        </ActionBar>

      
        <RadSideDrawer ref="drawer" drawerLocation="Right"
            :gesturesEnabled="gesturesEnabled">

            <StackLayout ~drawerContent backgroundColor="white">
                <StackLayout height="46"
                    style="text-align: center; vertical-align: center;">
                         <Image  src="~/assets/images/qbitlogo.png" />
                </StackLayout>

                <StackLayout class="sidebarlabel">
                    <Label text="Home" padding="10" />
                    <Label text="Time Sheet" padding="10" />
                    <Label text="Profile" padding="10" />
                    <Label text="Change password" padding="10" />
                    <Label text="Logout" padding="10"  @tap="logout" />
                
                    <!-- <Label padding="10" class="fa" id="closeicon" :text="'fa-times' | fonticon" -->
                           <Label padding="10"   @tap="onCloseDrawerTap" />

                </StackLayout>
            </StackLayout>

            <StackLayout ~mainContent>
                
                <StackLayout class="header">
					<Label ref="title" text="Vikas Pandey" />
				</StackLayout>


                <GridLayout class="page">		
				

				<ScrollView orientation="vertical">
				<StackLayout class="form">

					<StackLayout row="1" class="input-field">
					<Label text="Select Leave Type" class="h3" />
					<TextField v-model="leaves"
                        hint="Select Leave" editable="false"  @tap="leaveaction" aria-readonly="" />
					</StackLayout>

					<StackLayout row="2" class="input-field">
					<Label text="Select Status" class="h3" />
					<TextField v-model="status" 
                        hint="Select Status" editable="false"  @tap="statusaction" aria-readonly="" />
					</StackLayout>

					<StackLayout row="3" class="input-field">
					<Label text="From Date" class="h3"  />
					<TextField maxLength="15" v-model="textFieldValue"
                        hint="Select From Date" editable="false"  @tap="selectDate" aria-readonly="" />
					</StackLayout>

					<StackLayout row="4" class="input-field">
					<Label text="To Date" class="h3"  />
					<TextField maxLength="15" v-model="textFieldValue1"
                        hint="Select To Date" editable="false" @tap="selectToDate" aria-readonly="" /> 
					</StackLayout>

					<StackLayout row="5" class="input-field">
					<Label text="Remarks" class="h3"  />
					<TextField v-model="remark" hint="Enter Remarks Here" class="remarks"/>
					</StackLayout>

					<Button class="btn btn-primary m-t-20" @tap="submit" text="APPLY LEAVE APPLICATION"/>
				
				</StackLayout>
        		</ScrollView>
			</GridLayout>


        
            </StackLayout>

        </RadSideDrawer>




    </Page>
</template>

<script>  
    import Dashboard from "./Dashboard";
    import Vue from "nativescript-vue";
    import Login from "./Login";

    import RadSideDrawer from "nativescript-ui-sidedrawer/vue";
    Vue.use(RadSideDrawer);

    const ModalPicker = require("nativescript-modal-datetimepicker").ModalDatetimepicker;
	const todatepicker = new ModalPicker();
    const fromdatepicker = new ModalPicker();
    
    export default {
        data: function() {
            return {
                mainContentText: "SideDe drawer.",
                textFieldValue : '',
				textFieldValue1 : '',
				leaves : '',
				status : '',
				remark: '' 
            };
        },
        components: {
           
        },
        methods: {
            onOpenDrawerTap() {
                this.$refs.drawer.nativeView.showDrawer();
            },
            onCloseDrawerTap() {
                this.$refs.drawer.nativeView.closeDrawer();
            },
            leaveaction() {
				 action("Select Leave Type","", ["Privilege Leave - PL", "Sick Leave - SL", "Comp Off - COFF"])
  				 .then(result => {
				this.leaves = result;
				console.log(result);
 				 });
			},
			statusaction() {
				 action("Select Status Type","", ["FULL DAY", "HALF DAY"])
  				 .then(result => {
				this.status = result;
				console.log(result);
 				 });
            },
            selectDate : function() {
			todatepicker.pickDate({
				title: "From Date",
				theme: "light",
				maxDate: ''
				})
				.then(result => {
				// Note the month is 1-12 (unlike js which is 0-11)
				console.log(
					"Date is: " + result.day + "-" + result.month + "-" + result.year
				);
				var jsdate = new Date(result.year, result.month - 1, result.day);
				//this.textFieldValue = jsdate;
				this.textFieldValue = result.day + "-" + result.month + "-" + result.year;
				})
				.catch(error => {
				console.log("Error: " + error);
				});
				// var final_date  = new Date(this.result.year, this.result.month - 1, this.result.day);
				
            },
            selectToDate : function() {
			fromdatepicker.pickDate({
				title: "To Date",
				theme: "light",
				maxDate: ''
				})
				.then(result => {
				// Note the month is 1-12 (unlike js which is 0-11)
				console.log(
					"Date is: " + result.day + "-" + result.month + "-" + result.year
				);
				var jsdate = new Date(result.year, result.month - 1, result.day);
				//this.textFieldValue1 = jsdate;
				this.textFieldValue1 = result.day + "-" + result.month + "-" + result.year;
				})
				.catch(error => {
				console.log("Error: " + error);
				});
				// var final_date  = new Date(this.result.year, this.result.month - 1, this.result.day);
				
            },
            submit(){
            alert("Your Form Has Been Submitted Successfully");
            },
            logout() {
				// this.$backendService.logout();
				this.$navigateTo(Login, {
					clearHistory: true
				});
			},
            Back(){
                this.$navigateTo(Dashboard, { clearHistory: true });
                console.log("Back button tap");
            },
            leaveaction(){
				console.log("leave action has been tap");
			}
            

        }
    };
</script>

<style scoped>
   
   
    #closeicon{
        horizontal-align: center;
        font-size: 18;
    } 
    .header {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -16;
    margin-right: -16;
    padding-top: 8;
    padding-bottom: 8;
    padding-left: 16;
    padding-right: 16;
    border-bottom-width: 1;
    border-bottom-color: rgba(0,0,0,.20);
    }
    .header Label {
    font-size: 26;
    font-weight: bold;
    margin-left: 15;
    }
    .sidebarlabel{
         horizontal-align: center;
         font-size: 20;
         font-weight: bold;
         color : #666666;
    }
    .page {
        align-items: center;
        flex-direction: column;
    }
    .form {
        margin-left: 30;
        margin-right: 30;
        flex-grow: 2;
        vertical-align: middle;
    }
    .input-field {
        margin-bottom: 25;
    }
    .action-bar {
    background-color: #28b7ce;
    color: #ffffff;
    padding-right: 15;
    font-size: 28;
    }
</style>