<template>
    <Page actionBarHidden="true">
        <FlexboxLayout class="page">
            <StackLayout class="form">
                <Image class="logo" src="~/assets/images/qbitlogo.png"></Image>
                <Label class="header" text="QBIT"></Label>

                <GridLayout rows="auto, auto, auto">
                    <StackLayout row="0" class="input-field">
                        <TextField class="input" hint="Email" :isEnabled="!processing"
                            keyboardType="email" autocorrect="false"
                            autocapitalizationType="none" v-model="email"
                            returnKeyType="next" @returnPress="focusPassword"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>

                    <StackLayout row="1" class="input-field">
                        <TextField class="input" ref="password" :isEnabled="!processing"
                            hint="Password" secure="true" v-model="password"
                            :returnKeyType="isLoggingIn ? 'done' : 'next'"
                            @returnPress="focusConfirmPassword"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout>

                    <!-- <StackLayout row="2" v-show="!isLoggingIn" class="input-field">
                        <TextField class="input" ref="confirmPassword" :isEnabled="!processing"
                            hint="Confirm password" secure="true" v-model="user.confirmPassword"
                            returnKeyType="done"></TextField>
                        <StackLayout class="hr-light"></StackLayout>
                    </StackLayout> -->

                    <ActivityIndicator rowSpan="3" :busy="processing"></ActivityIndicator>
                </GridLayout>

                <Button :text="isLoggingIn ? 'Log In' : 'Sign Up'" :isEnabled="!processing"
                    @tap="submit" class="btn btn-primary m-t-20"></Button>
                <Label *v-show="isLoggingIn" text="Forgot your password?"
                    class="login-label" @tap="forgotPassword()"></Label>
            </StackLayout>

            <Label class="login-label sign-up-label">
                <FormattedString>
                    <Span text="© Copyright 2018, QBIT"></Span>
                    <!-- <Span :text="isLoggingIn ? 'Sign up' : ''" class="bold"></Span> -->
                </FormattedString>
            </Label>
        </FlexboxLayout>
    </Page>
</template>

<script>
    import Dashboard from "./Dashboard";
    import * as http from "http";
    import { alertBox } from "../services/misc";
    export default {
        data() {
            return {
                isLoggingIn: true,
                processing: false,
                email: "harshad@gmail.com",
                password: "1234",
                //     confirmPassword: "1234"
                // }
            };
        },
        methods: {
            toggleForm() {
                this.isLoggingIn = !this.isLoggingIn;
            },

            submit() {
                if (!this.email || !this.password) {
                    this.alert(
                        "Please provide both an email address and password."
                    );
                    return;
                }

                this.processing = true;
                if (this.isLoggingIn) {
                    this.login();
                } else {
                    this.register();
                }
            },

            login() {
                //alert('here');
                // this.processing = false;
                // this.$navigateTo(Home, { clearHistory: true });
                // alert('hihihi');
                http.request({
                    url: "https://mobilerestapi.000webhostapp.com/api/login.php",
                    method: "POST",
                    headers: { "Content-Type": "application/json" },
                    content: JSON.stringify({
                        email: this.email,
                        password: this.password
                    })
                }).then((response) => {
                    const result = response.content.toJSON();
                    
                    if(result.message =='Successful login.') {
                        this.processing = false;
                        this.$navigateTo(Dashboard, { clearHistory: true });
                    } else {
                        this.processing = false;
                        alert('please Provide a Right Credentials');
                        //  this.$navigateTo(login, { clearHistory: true });
                    }
                }, error => {
                    alert('oops! Something Went Wrong.');
                    console.error(error);
                });

            },

            // register() {
            //     if (this.password != this.confirmPassword) {
            //         this.alert("Your passwords do not match.");
            //         this.processing = false;
            //         return;
            //     }

            //     this.$backendService
            //         .register(this.user)
            //         .then(() => {
            //             this.processing = false;
            //             this.alert(
            //                 "Your account was successfully created.");
            //             this.isLoggingIn = true;
            //         })
            //         .catch(() => {
            //             this.processing = false;
            //             this.alert(
            //                 "Unfortunately we were unable to create your account."
            //             );
            //         });
            // },

            // forgotPassword() {
            //     prompt({
            //         title: "Forgot Password",
            //         message: "Enter the email address you used to register for APP NAME to reset your password.",
            //         inputType: "email",
            //         defaultText: "",
            //         okButtonText: "Ok",
            //         cancelButtonText: "Cancel"
            //     }).then(data => {
            //         if (data.result) {
            //             this.$backendService
            //                 .resetPassword(data.text.trim())
            //                 .then(() => {
            //                     this.alert(
            //                         "Your password was successfully reset. Please check your email for instructions on choosing a new password."
            //                     );
            //                 })
            //                 .catch(() => {
            //                     this.alert(
            //                         "Unfortunately, an error occurred resetting your password."
            //                     );
            //                 });
            //         }
            //     });
            // },

            // focusPassword() {
            //     this.$refs.password.nativeView.focus();
            // },
            // focusConfirmPassword() {
            //     if (!this.isLoggingIn) {
            //         this.$refs.confirmPassword.nativeView.focus();
            //     }
            // },

            alert(message) {
                return alert({
                    title: "Qbit",
                    okButtonText: "OK",
                    message: message
                });
            }
        }
    };
</script>

<style scoped>
    .page {
        align-items: center;
        flex-direction: column;
    }

    .form {
        margin-left: 30;
        margin-right: 30;
        flex-grow: 2;
        vertical-align: middle;
    }

    .logo {
        margin-bottom: 12;
        height: 90;
        font-weight: bold;
    }

    .header {
        horizontal-align: center;
        font-size: 25;
        font-weight: 600;
        margin-bottom: 70;
        text-align: center;
        color:black;
    }

    .input-field {
        margin-bottom: 25;
    }

    .input {
        font-size: 18;
        placeholder-color: #A8A8A8;
    }

    .input:disabled {
        background-color: white;
        opacity: 0.5;
    }

    .btn-primary {
        margin: 30 5 15 5;
    }

    .login-label {
        horizontal-align: center;
        color: #A8A8A8;
        font-size: 16;
    }

    .sign-up-label {
        margin-bottom: 20;
    }

    .bold {
        color: #000000;
    }
</style>
