<template>
    <Page class="page" backgroundSpanUnderStatusBar="true">

        <ActionBar title="Pay Slip" class="action-bar" @tap="payaction" >
            <NavigationButton text="Pay Slip" @tap="Back" android.systemIcon="ic_menu_back"></NavigationButton>
            <ActionItem ios.position="right"  @tap="onOpenDrawerTap" ><Label 
            class="fa" :text="'fa-bars' | fonticon"  @tap="onOpenDrawerTap" /></ActionItem>
            
        </ActionBar>

      
        <RadSideDrawer ref="drawer" drawerLocation="Right"
            :gesturesEnabled="gesturesEnabled">

            <StackLayout ~drawerContent backgroundColor="white">
                <StackLayout height="46"
                    style="text-align: center; vertical-align: center;">
                         <Image  src="~/assets/images/qbitlogo.png" />
                </StackLayout>

                <StackLayout class="sidebarlabel">
                    <Label text="Home" padding="10" />
                    <Label text="Time Sheet" padding="10" />
                    <Label text="Profile" padding="10" />
                    <Label text="Change password" padding="10" />
                    <Label text="Logout" padding="10"  @tap="logout" />
                
                    <!-- <Label padding="10" class="fa" id="closeicon" :text="'fa-times' | fonticon" -->
                           <Label padding="10"   @tap="onCloseDrawerTap" />

                </StackLayout>
            </StackLayout>

            <StackLayout ~mainContent>
                
                <StackLayout class="header">
					<Label ref="title" text="Vikas Pandey" />
				</StackLayout>


                <GridLayout class="page">		
				

				<!-- <ScrollView orientation="vertical">
				<StackLayout class="form"> -->

					
                     <ListView for="item in items" class="list-group" @itemTap="onItemTap">
                        <v-template>
                            <GridLayout class="list-group-item" rows="*" columns="auto, *">
                                <!-- <Label row="0" col="0" class="fa" :text="'fa-money' | fonticon" /> -->
                                <Label id="datelabel" row="0" col="1" :text="item.text" />
                            </GridLayout>
                        </v-template>
                    </ListView>
					
                    <!-- <Button class="btn btn-primary m-t-20" @tap="submit" text="Pay Slip"/> -->
				
				<!-- </StackLayout>
        		</ScrollView> -->
			</GridLayout>


        
            </StackLayout>

        </RadSideDrawer>




    </Page>
</template>

<script>  
    import Dashboard from "./Dashboard";
    import Vue from "nativescript-vue";
    import Login from "./Login";

    import RadSideDrawer from "nativescript-ui-sidedrawer/vue";
    Vue.use(RadSideDrawer);
    
    export default {
        data: function() {
            return {
                items: [
                    { text: "October 2019",src:"" },
                    { text: "September 2019",src:"" },
                    { text: "August 2019",src:"" },
                    { text: "July 2019",src:"" },
                    { text: "June 2019",src:"" },  
                    ],
                mainContentText: "SideDe drawer.",
                
            };
        },
        components: {
           
        },
        methods: {
            onOpenDrawerTap() {
                this.$refs.drawer.nativeView.showDrawer();
            },
            onCloseDrawerTap() {
                this.$refs.drawer.nativeView.closeDrawer();
            },    
            submit(){
            alert("Pay slip h bhai");
            },
            logout() {
				// this.$backendService.logout();
				this.$navigateTo(Login, { 
                    // clearHistory: true 
                    });
			},
            Back(){
                this.$navigateTo(Dashboard, { clearHistory: true });
                console.log("Back button tap");
            },
            onItemTap(){
                console.log("Pay slip action bar tap");
            },
            
            

        }
    };
</script>

<style scoped>
   
   
    /* #closeicon{
        horizontal-align: center;
        font-size: 18;
    }  */
    .header {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -16;
    margin-right: -16;
    padding-top: 8;
    padding-bottom: 8;
    padding-left: 16;
    padding-right: 16;
    border-bottom-width: 1;
    border-bottom-color: rgba(0,0,0,.20);
    }
    .header Label {
    font-size: 26;
    font-weight: bold;
    margin-left: 15;
    }
    .sidebarlabel{
         horizontal-align: center;
         font-size: 20;
         font-weight: bold;
         color : #666666;
    }
    .action-bar {
    background-color: #28b7ce;
    color: #ffffff;
    padding-right: 15;
    font-size: 28;
    }
    #datelabel{
        font-size: 20;
        font-weight: bold;
        color : #666666;
    }
</style>