<template>
    <Page class="page" backgroundSpanUnderStatusBar="true">

        <ActionBar title="Profile" class="action-bar" @tap="profileaction" >
            <NavigationButton text="Profile" @tap="Back" android.systemIcon="ic_menu_back"></NavigationButton>
            <ActionItem ios.position="right"  @tap="onOpenDrawerTap" ><Label 
            class="fa" :text="'fa-bars' | fonticon"  @tap="onOpenDrawerTap" /></ActionItem>
            
        </ActionBar>

      
        <RadSideDrawer ref="drawer" drawerLocation="Right"
            :gesturesEnabled="gesturesEnabled">

            <StackLayout ~drawerContent backgroundColor="white">
                <StackLayout height="46"
                    style="text-align: center; vertical-align: center;">
                         <Image  src="~/assets/images/qbitlogo.png" />
                </StackLayout>

                <StackLayout class="sidebarlabel">
                    <Label text="Home" padding="10" />
                    <Label text="Time Sheet" padding="10" />
                    <Label text="Profile" padding="10" />
                    <Label text="Change password" padding="10" />
                    <Label text="Logout" padding="10"  @tap="logout" />
                
                    <!-- <Label padding="10" class="fa" id="closeicon" :text="'fa-times' | fonticon" -->
                           <Label padding="10"   @tap="onCloseDrawerTap" />

                </StackLayout>
            </StackLayout>

            <StackLayout ~mainContent>
                
                <!-- <StackLayout class="header">
					<Label ref="title" text="Vikas Pandey" />
				</StackLayout> -->


               <StackLayout ~mainContent>

                <DockLayout>



                    <StackLayout dock="top" height="90%" width="100%" style="">
                        <ScrollView>

                            <StackLayout style="font-size:18;">
                                <StackLayout alignItems="center">
                                    <Image src="~/assets/images/profilelogo.png"
                                        stretch="aspectFill" class="profilePic">
                                    </Image>
                                    
                                    <Label text="Vikas Pandey" color="#666666"
                                        fontSize="20" fontWeight="bold" textAlignment="center" />


                                    <StackLayout class="aboutContainer">
                                        <StackLayout orientation="horizontal">
                                            <Label style="font-size:20;color:#557AAD;margin-left:10"  class="fa" :text="'fa-user' | fonticon" />
                                            <Label text="1216" style="font-size:16;color:#000;margin-left:9;margin-top:-2;"
                                                class="font-awesome" />
                                        </StackLayout>
                                        <StackLayout orientation="horizontal" class="aboutRow">
                                            <Label style="font-size:20;color:#557AAD;margin-left:10"  class="fa" :text="'fa-envelope' | fonticon" />
                                            <Label text="email@gmail.com" style="font-size:16;color:#000;margin-left:9;margin-top:-2;"
                                                class="font-awesome" />
                                        </StackLayout>
                                        <StackLayout orientation="horizontal" class="aboutRow">
                                            <Label style="font-size:20;color:#557AAD;margin-left:10" class="fa" :text="'fa-phone' | fonticon" />
                                            <Label text="9781234567" style="font-size:16;color:#000;margin-left:9;margin-top:-2;"
                                                class="font-awesome" />
                                        </StackLayout>
                                        <StackLayout orientation="horizontal" class="aboutRow">
                                            <Label style="font-size:20;color:#557AAD;margin-left:10" class="fa" :text="'fa-map-marker' | fonticon" />
                                            <Label text="Mumbai" style="font-size:16;color:#000;margin-left:9;margin-top:-2;"
                                                class="font-awesome" />
                                        </StackLayout>
                                    </StackLayout>

                                    

                                </StackLayout>

                               
                            </StackLayout>


                        </ScrollView>
                    </StackLayout>

              </DockLayout>

            </StackLayout>
        
            </StackLayout>

        </RadSideDrawer>




    </Page>
</template>

<script>  
    import Dashboard from "./Dashboard";
    import Vue from "nativescript-vue";
    import Login from "./Login";

    import RadSideDrawer from "nativescript-ui-sidedrawer/vue";
    Vue.use(RadSideDrawer);
    
    export default {
        data: function() {
            return {
                mainContentText: "SideDe drawer.",
                
            };
        },
        components: {
           
        },
        methods: {
            onOpenDrawerTap() {
                this.$refs.drawer.nativeView.showDrawer();
            },
            onCloseDrawerTap() {
                this.$refs.drawer.nativeView.closeDrawer();
            },    
            submit(){
            alert("NO need to submit");
            },
             logout() {
				// this.$backendService.logout();
				this.$navigateTo(Login, {
					clearHistory: true
				});
			},
            Back(){
                this.$navigateTo(Dashboard, { clearHistory: true });
                console.log("Back button tap");
            },
            profileaction(){
                console.log("profile action has been tapped");_
            }
            

        }
    };
</script>

<style scoped>
   
   
    /* #closeicon{
        horizontal-align: center;
        font-size: 18;
    }  */
    .header {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: -16;
    margin-right: -16;
    padding-top: 8;
    padding-bottom: 8;
    padding-left: 16;
    padding-right: 16;
    border-bottom-width: 1;
    border-bottom-color: rgba(0,0,0,.20);
    }
    .header Label {
    font-size: 26;
    font-weight: bold;
    margin-left: 15;
    }
    .sidebarlabel{
         horizontal-align: center;
         font-size: 20;
         font-weight: bold;
         color : #666666;
    }

    .profilePic{
	width:150;
	height:150;
	border-radius:100;
	margin:20;
	border-color: #28b7ce;
	border-width: 1;
    }
    .aboutContainer{
	width:85%;
	border-radius:15;
	background: #eeeeee;
	margin-top: 20;
	padding-top:20;
	padding-bottom: 20;
	padding-left: 20;
	padding-right: 20;
    }
    .aboutRow{
	margin-top:10;
    }
    .action-bar {
    background-color: #28b7ce;
    color: #ffffff;
    padding-right: 15;
    font-size: 28;
    }
</style>