<template>
    <Page>

        
            <StackLayout class="sideBar">
                <!--Add your page content here-->
                <StackLayout rows="auto" height="auto">
                    <RadSideDrawer ref="drawer">
                        <StackLayout ~drawerContent backgroundColor="">
                            <StackLayout>
                                <Label text="Attendance" padding="10"
                                    backgroundColor="dodgerblue" />
                                <Label text="Leave" padding="10" />
                                <Label text="History" padding="10"
                                    backgroundColor="dodgerblue" />
                                <Label text="Data" padding="10" />
                                <Label text="Data" padding="10"
                                    backgroundColor="dodgerblue" />
                            </StackLayout>
                            
                            <Label text="Close" color="lightgray" padding="10"
                                style="horizontal-align: center"
                                @tap="onCloseDrawerTap" />
                        </StackLayout>

                    </RadSideDrawer>
                </StackLayout>
            </StackLayout>
        

    </Page>
</template>

<script>
    import Vue from "nativescript-vue";
    import RadSideDrawer from "nativescript-ui-sidedrawer/vue";
    Vue.use(RadSideDrawer);

    export default {
        methods: {
            onOpenDrawerTap() {
                this.$refs.drawer.nativeView.showDrawer();
            },
            onCloseDrawerTap() {
                this.$refs.drawer.nativeView.closeDrawer();
            }
        },

        data() {
            return {
                mainContentText: "SideDe drawer."
            };
        }
    };
</script>

<style scoped>
    .action-image {
        width: 40;
        height: 40;
        vertical-align: center;
    }

    .action-label {
        color: #3C5AFD;
        font-size: 24;
        font-weight: bold;
        vertical-align: center;
    }
</style>