<template>
    <Page class="page">
       
        <ActionBar title="Time Sheet">
            <Label icotext="Menu" />
            <!-- <ActionItem ios.systemIcon="2" android.systemIcon="ic_menu_edit"
                ios.position="right"></ActionItem> -->
        </ActionBar>
        <!-- <GridLayout rows="*" height="1500px"> -->

        <RadSideDrawer ref="drawer" drawerLocation="Right"
            :gesturesEnabled="gesturesEnabled">
            <StackLayout ~drawerContent backgroundColor="white">
                <StackLayout height="56"
                    style="text-align: center; vertical-align: center;">
                    <Label text="QBIT" />
                </StackLayout>
                <StackLayout>
                    <Label style="color:black" text="Home" padding="10" />
                    <Label style="color:black" text="Time Sheet"
                        padding="10" />
                    <Label style="color:black" text="Profile" padding="10" />
                    <Label style="color:black" text="Change password"
                        padding="10" />
                    <Label style="color:black" text="Logout" padding="10"
                        @tap="logout" />
                    <!-- <Label text="Labels" padding="10"
                        backgroundColor="lightgray" />
                    <Label text="Important" padding="10" />
                    <Label text="Starred" padding="10" />
                    <Label text="Sent Mail" padding="10" />
                    <Label text="Drafts" padding="10" /> -->
                </StackLayout>
                <Label style="color:black" text="Close" padding="10"
                    @tap="onCloseDrawerTap" />
            </StackLayout>

            <StackLayout ~mainContent>
                <BottomNavigation>
                    <TabStrip>
                        <!-- <TabStripItem>
                            <Label text="Menu"></Label>
                            <Image src="res://menu">
                            </Image>
                        </TabStripItem> -->
                        <TabStripItem>
                            <Label text="Home"></Label>
                            <Image src="res://home"></Image>
                        </TabStripItem>
                        <TabStripItem>
                            <Label text="Settings"></Label>
                            <Image src="res://settings"></Image>
                        </TabStripItem>
                        <TabStripItem>
                            <Label text="Search"></Label>
                            <Image src="res://search"></Image>
                        </TabStripItem>

                    </TabStrip>
                    <TabContentItem>
                        <GridLayout>
                            <StackLayout orientation="vertical"
                                class="page-content">
                                <StackLayout orientation="horizontal"
                                    class="nix">
                                    <!-- Check In -->
                                    <StackLayout class="btn-img"
                                        orientation="vertical" padding="10"
                                        @tap="onTappedcheck('in')"
                                        :visibility="checkinvisbility ? 'visible' : 'collapsed'">
                                        <Label text="check In"
                                            verticalAlignment="center">
                                        </Label>
                                        <Label :text="date"
                                            verticalAlignment="center">
                                        </Label>
                                    </StackLayout>

                                    <StackLayout class="btn-img"
                                        orientation="vertical" padding="10"
                                        @tap="onTappedcheck('out')"
                                        :visibility="checkoutvisbility ? 'visible' : 'collapsed'">
                                        <Label text="check Out"
                                            verticalAlignment="center">
                                        </Label>
                                        <Label :text="date"
                                            verticalAlignment="center">
                                        </Label>
                                    </StackLayout>
                                </StackLayout>

                                <ScrollView orientation="horizontal">
                                    <ListView for="watchdata in list_data"
                                        @itemTap="onItemTap"
                                        style="height:1250px">
                                        <v-template>
                                            <!-- <FlexboxLayout flexDirection="row"> -->
                                            <StackLayout
                                                orientation="horizontal"
                                                width="100%">
                                                <Image
                                                    :src="watchdata.imageSrc"
                                                    class="thumb img-circle" />
                                                <Label :text="watchdata.name"
                                                    class="t-12"
                                                    style="width: 100%" />
                                                <Label :text="watchdata.watch"
                                                    class="t-12"
                                                    style="width: 100%" />
                                                <Label :text="watchdata.lat"
                                                    class="t-12"
                                                    style="width: 100%" />
                                                <Label :text="watchdata.long"
                                                    class="t-12"
                                                    style="width: 100%" />
                                              
                                        </v-template>
                                    </ListView>
                                </ScrollView>
                            </StackLayout>
                            <!-- <Label text="Home" class="h2 text-center">
                                </Label> -->
                        </GridLayout>
                    </TabContentItem>
                    <TabContentItem>
                        <GridLayout>
                            <Label text="Settings Page"
                                class="h2 text-center">
                            </Label>
                        </GridLayout>
                    </TabContentItem>
                    <TabContentItem>
                        <GridLayout>
                            <Label text="Search Page" class="h2 text-center">
                            </Label>
                        </GridLayout>
                    </TabContentItem>
                </BottomNavigation>
                <!-- <Label :text="mainContentText" textWrap="true" fontSize="13"
                    padding="10" />
                <Button text="Open Drawer"  margin="10"
                    style="horizontal-align: left" /> -->
            </StackLayout>

        </RadSideDrawer>
        <!-- </GridLayout> -->
        <!-- <StackLayout>
           
           
        </StackLayout> -->
    </Page>
</template>

<script>
    import Vue from "nativescript-vue";
    import RadSideDrawer from "nativescript-ui-sidedrawer/vue";
    Vue.use(RadSideDrawer);

    import Login from "./Login";
    const geoLocation = require("nativescript-geolocation");
    export default {
        data: function() {
            return {
                mainContentText: "SideDrawer for NativeScript can be easily setup in the XML definition of your page by defining main- and drawer-content. The component" +
                    " has a default transition and position and also exposes notifications related to changes in its state. Swipe from left to open side drawer.",

                message: "You have successfully authenticated. This is where you build your core application functionality.",
                currentGeoLocation: {
                    latitude: null,
                    longitude: null,
                    altitude: null,
                    direction: null
                },
                list_data: [{
                    name: "",
                    watch: "",
                    imageSrc: ""
                }],

                ischeckin: false,
                ischeckout: false,
                // date: new Date().toLocaleString()
                date: new Date().toLocaleString(),
                check: "Check In",
                checkinvisbility: true,
                checkoutvisbility: false
            };
        },
        name: "settings-view",
        methods: {
            onOpenDrawerTap() {
                this.$refs.drawer.nativeView.showDrawer();
            },
            onCloseDrawerTap() {
                this.$refs.drawer.nativeView.closeDrawer();
            },

            onItemTap: function(args) {
                console.log("Item with index: " + args.index + " tapped");
            },
            logout() {
                this.$backendService.logout();
                this.$navigateTo(Login, {
                    clearHistory: true
                });
            },
            onTappedcheck(para) {
                geoLocation.isEnabled().then(enabled => {
                    if (!enabled) {
                        geoLocation
                            .enableLocationRequest()
                            .then(() => this.showLocation());
                    } else {
                        this.showLocation();
                    }
                });
                console.log(para);
                if (para == "in") {
                    this.check = "Check Out";
                    this.checkoutvisbility = true;
                    this.checkinvisbility = false;
                    this.date = new Date().toLocaleString();
                    this.list_data.push({
                        name: "Check In",
                        imageSrc: "https://www.pngkey.com/png/detail/984-9847888_stopwatch-png-icon-time-icon-png.png",
                        watch: this.date,
                        lat: this.currentGeoLocation.latitude,
                        long: this.currentGeoLocation.longitude
                    });
                } else {
                    this.check = "Check In";
                    this.checkinvisbility = true;
                    this.checkoutvisbility = false;
                    this.date = new Date().toLocaleString();
                    this.list_data.push({
                        name: "Check Out",
                        imageSrc: "https://www.pngkey.com/png/detail/984-9847888_stopwatch-png-icon-time-icon-png.png",
                        watch: this.date,
                        lat: this.currentGeoLocation.latitude,
                        long: this.currentGeoLocation.longitude
                    });
                }
                // console.log(this.ischeckin);
            },
            showLocation: function() {
                geoLocation.watchLocation(
                    location => {
                        this.currentGeoLocation = location;
                    },
                    error => {
                        alert(error);
                    }, {
                        desiredAccuracy: 3,
                        updateDistance: 10,
                        minimumUpdateTime: 1000 * 1
                    }
                );
            }
        }
    };
</script>

<style scoped>
    ActionBar {
        background-color: black;
        color: #ffffff;
    }

    .btn-img {
        vertical-align: center;
        border-radius: 5;
        border-width: 1;
        color: black;
        margin: 10;
        font-size: 14;
        border-color: #2b3c6a;
        height: 100;
        width: 96%;
    }

    .active {
        background-color: blue;
    }

    .logo {
        vertical-align: left;
        margin-bottom: 12;
        height: 90;
        font-weight: bold;
    }

    ActionBar {
        background-color: #28b7ce;
        color: Black;
    }
</style>